<settings>

    <setting propertyKey="@Properties.EP" title="@Strings.ExportProfileTitle">
        <settingConfig type="alphaNumeric" maxLength="255" />
    </setting>

    <setting propertyKey="@Properties.EP2" title="@Strings.ExportProfileTitle2">
        <settingConfig type="alphaNumeric" maxLength="255" />
    </setting>

    <setting propertyKey="@Properties.PM" title="@Strings.ProfileManagementTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ProfileCurrent</listEntry>
            <listEntry value="1">@Strings.ProfileLoad</listEntry>
            <listEntry value="2">@Strings.ProfileSave</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.PN" title="@Strings.ProfileNumberTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.PD" title="@Strings.ProfileDaysTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.PS" title="@Strings.ProfileStartTimeTitle">
        <settingConfig type="alphaNumeric" maxLength="20" />
    </setting>

    <setting propertyKey="@Properties.PE" title="@Strings.ProfileEndTimeTitle">
        <settingConfig type="alphaNumeric" maxLength="20" />
    </setting>

    <setting propertyKey="@Properties.35" title="@Strings.GlanceProfileTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.PB" title="@Strings.ProfileBlockTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.PR" title="@Strings.ProfileRandomTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.DP" title="@Strings.DemoProfilesTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DR" title="@Strings.DemoProfilesRangeTitle">
        <settingConfig type="alphaNumeric" maxLength="20" />
    </setting>

    <setting propertyKey="@Properties.SA" title="@Strings.SunAltitudeAdjustTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.SU" title="@Strings.StatusUpdateTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Status1</listEntry>
            <listEntry value="5">@Strings.Status5</listEntry>
            <listEntry value="15">@Strings.Status15</listEntry>
            <listEntry value="30">@Strings.Status30</listEntry>
            <listEntry value="60">@Strings.Status60</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.H" title="@Strings.HTitle" helpUrl="https://paypal.me/markdotai">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.H2" title="@Strings.H2Title" helpUrl="http://bit.ly/m2_forum">
        <settingConfig type="boolean" />
    </setting>

</settings>
