<settings>

    <setting propertyKey="@Properties.EP" title="@Strings.ExportProfileTitle">
        <settingConfig type="alphaNumeric" maxLength="255" />
    </setting>

    <setting propertyKey="@Properties.EP2" title="@Strings.ExportProfileTitle2">
        <settingConfig type="alphaNumeric" maxLength="255" />
    </setting>

    <setting propertyKey="@Properties.PM" title="@Strings.ProfileManagementTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ProfileCurrent</listEntry>
            <listEntry value="1">@Strings.ProfileLoad</listEntry>
            <listEntry value="2">@Strings.ProfileSave</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.PN" title="@Strings.ProfileNumberTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.H2" title="@Strings.H2Title" helpUrl="http://bit.ly/m2_forum">
        <settingConfig type="boolean" />
    </setting>

</settings>
