<settings>

    <setting propertyKey="@Properties.EP" title="@Strings.ExportProfileTitle">
        <settingConfig type="alphaNumeric" maxLength="255" />
    </setting>

    <setting propertyKey="@Properties.PM" title="@Strings.ProfileManagementTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ProfileCurrent</listEntry>
            <listEntry value="1">@Strings.ProfileLoad</listEntry>
            <listEntry value="2">@Strings.ProfileSave</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.PN" title="@Strings.ProfileNumberTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.0" title="@Strings.ProfileNameTitle">
        <settingConfig type="alphaNumeric" maxLength="20" />
    </setting>

</settings>
